<div>
  <app-navbar></app-navbar>

  <section class="jumbotron jumbotron-fluid text-center">
    <h1>Contact Us</h1>
  </section>

  <div class="p-5"></div>

  <section id="section3" class="container border">
    <div #mapContainer id="map"></div>
  </section>

  <div class="p-5"></div>

  <section id="section3" class="container border">

    <div class="row">
      <div class="col-3">
        <div class="media pb-3">
          <a class="d-flex align-content-center text-warning pt-2 pr-2" href="#">
            <i class="fa fa-home fa-2x"></i>
          </a>
          <div class="media-body">
            <strong class="d-block">London, U.K.</strong>
            <span class="text-muted">Berenstein Avenue</span>
          </div>
        </div>
        <div class="media pb-3">
          <a class="d-flex align-content-center text-warning pt-2 pr-2" href="#">
            <i class="fa fa-phone fa-2x"></i>
          </a>
          <div class="media-body">
            <strong class="d-block">00 (440) 9865 562</strong>
            <span class="text-muted">Mon to Fri 9am to 6 pm</span>
          </div>
        </div>
        <div class="media pb-3">
          <a class="d-flex align-content-center text-warning pt-2 pr-2" href="#">
            <i class="fa fa-envelope fa-2x"></i>
          </a>
          <div class="media-body">
            <strong class="d-block">support@shoes4all.com</strong>
            <span class="text-muted">Send us your query anytime!</span>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="row">
          <div class="col flex-column justify-content-between">
            <input type="text" class="form-control my-3" placeholder="Your Name" />
            <input type="email" class="form-control my-3" placeholder="Your Email" />
            <input type="text" class="form-control my-3" placeholder="Enter Subject" />
          </div>
          <div class="col">
            <textarea class="form-control my-3 p-3" placeholder="Enter your message"></textarea>
            <button class="btn btn-block btn-outline-dark">SEND MESSAGE</button>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="p-5"></div>

  <app-footer></app-footer>
</div>
