<div>
  <app-navbar></app-navbar>

  <section class="jumbotron jumbotron-fluid text-center p-0">
    <img src="assets/images/nature.jpg" class="img-fluid" alt="Nature-themed image">
    <!-- <h1>Help Us Keep the Green Spaces</h1> -->
  </section>

  <div class="p-5"></div>

  <section id="section3" class="container border">
    <h1>Help us save the Environment</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quasi cumque impedit doloribus, quibusdam mollitia
      laborum temporibus distinctio quis esse consequuntur unde. Repudiandae non unde, distinctio inventore dolore at
      eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quasi repellendus fugit. Non, vitae laboriosam
      distinctio aut eaque, aliquam, ab veniam libero ratione cum illo placeat. Voluptatem blanditiis accusamus aperiam,
      esse amet neque ea obcaecati laudantium. Dignissimos assumenda minus laudantium id quisquam debitis suscipit animi
      rerum, facilis possimus, quia in.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non explicabo sequi pariatur animi ducimus, id neque!
      Rem dolore dolorum ut amet cumque tenetur odit distinctio delectus voluptas consequatur. Molestiae numquam eaque
      assumenda debitis animi, amet consequatur!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ad eos et sequi excepturi officia.</p>
  </section>

  <div class="p-5"></div>

  <app-footer></app-footer>
</div>
