/* You can add global styles to this file, and also import other style files */

html {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* font-family: var(--font-family-sans-serif) !important; */
}

body {
  padding: 0 !important;
}

*,
::after,
::before {
  box-sizing: border-box !important;
}

.input-group>.input-group-append {
  position: relative;
  top: 10px;
  right: 25px;
}

.cursor-pointer {
  cursor: pointer;
}

#main-carousel {
  height: 600px;
}

.img-h-1 {
  height: 180px;
}

.img-h-2 {
  height: 360px;
}

.img-w-1 {
  width: 181px;
}

.img-w-2 {
  width: 360px;
}

.carousel-caption.align-self-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  left: 0;
  text-align: start;
}

#google-maps {
  display: block;
  height: 400px;
}
